<%= form_with(model: event) do |form| %>
    <% if event.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(event.errors.count, "error") %> prohibited this ticket from being saved:</h2>
  
        <ul>
          <% event.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field">
      <%= form.label :wykonawca %>
      <%= form.text_field :artist %>
    </div>
  
    <div class="field">
      <%= form.label :"opis wydarzenia" %>
      <%= form.text_field :description %>
    </div>
  
    <div class="field">
      <%= form.label :"najniższa cena" %>
      <%= form.text_area :price_low %>
    </div>
  
    <div class="field">
      <%= form.label :"najwyższa cena" %>
      <%= form.text_field :price_high %>
    </div>
  
    <div class="field">
      <%= form.label :"data wydarzenia" %>
      <%= form.date_field :event_date %>
    </div>

    <div class="actions">
      <%= form.submit :"Zapisz wydarzenie", class:'btn btn-info link' %>
    </div>
  <% end %>
  