<div class="container d-flex flex-column align-items-center mx-auto" >
  <p id="notice"><%= notice %></p>

  <h1 class="text-center">Bilety</h1>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Imie</th>
          <th>Miejsce</th>
          <th>Cena</th>
          <th>Numer eventu</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @event.tickets.each do |ticket| %>
          <tr>
            <td><%= ticket.name %></td>
            <td><%= ticket.seat_id_seq %></td>
            <td><%= ticket.price %></td>
            <td><%= ticket.event_id %></td>
            <td><%= link_to 'Pokaż', ticket, :class => 'text-info' %></td>
            <% if (user_signed_in?) && (ticket.user == current_user) %>
              <td><%= link_to 'Edytuj', edit_ticket_path(ticket), :class => 'text-info' %></td>
              <td><%= link_to 'Usuń', ticket, method: :delete, data: { confirm: 'Czy jesteś pewien, że chcesz usunąć bilet?' }, :class => 'text-info' %></td>
            <% else %>
              <td></td>
              <td></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

