<section class="jumbotron2 jumbotron-fluid w-100">
  <div class="main_content d-flex flex-column align-items-center" >
    <p id="komunikat" class="my_alert"><%= flash[:komunikat] %></p>

    <p>
      <strong>Numer eventu:</strong>
      <%= @event.id %>
    </p>

    <p>
      <strong>Wykonawca:</strong>
      <%= @event.artist %>
    </p>

    <p>
      <strong>Opis wydarzenia:</strong>
      <%= @event.description %>
    </p>

    <p>
      <strong>Najniższa cena:</strong>
      <%= @event.price_low %>
    </p>

    <p>
      <strong>Najwyższa cena:</strong>
      <%= @event.price_high %>
    </p>

    <p>
      <strong>Data wydarzenia:</strong>
      <%= @event.event_date %>
    </p>

    <p class="navbar-text mb-0">
      <button type="button" class="btn btn-info"><%= link_to 'Wstecz', events_path, :class => 'text-decoration-none text-dark' %></button>
    </p>

  

    <% if !user_signed_in? %>
      <strong class="d-flex flex-column align-items-center">Aby kupić bilet musisz się zalogować</strong> 
    <% else %>
      <%=render "new_ticket", ticket: current_user.tickets.new( :event_id=>@event.id) %>
    <% end %>
    <%=render "tickets_list" %>
  </div>
</section>