
<section class="jumbotron3 jumbotron-fluid w-100"> 
  <div class="main_content container d-flex flex-column align-items-center mx-auto">
    <p id="notice"><%= notice %></p>

    <h1 class="text-center">Bilety</h1>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col" class="align-middle">Imie</th>
            <th scope="col" class="align-middle">Miejsce</th>
            <th scope="col" class="align-middle">Adres</th>
            <th scope="col" class="align-middle">Cena</th>
            <th scope="col" class="align-middle">Adres email</th>
            <th scope="col" class="align-middle">Numer telefonu</th>
            <th scope="col" class="align-middle">Numer eventu</th>
            <th scope="col" colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @tickets.each do |ticket| %>
            <tr>
              <td><%= ticket.name %></td>
              <td><%= ticket.seat_id_seq %></td>
              <td><%= ticket.address %></td>
              <td><%= ticket.price %></td>
              <td><%= ticket.email_address %></td>
              <td><%= ticket.phone %></td>
              <td><%= ticket.event_id %></td>
              <td><%= link_to 'Pokaż', ticket, :class => 'text-info' %></td>
              <% if (user_signed_in?) && (ticket.user == current_user) %>
                <td><%= link_to 'Edytuj', edit_ticket_path(ticket), :class => 'text-info' %></td>
                <td><%= link_to 'Usuń', ticket, method: :delete, data: { confirm: 'Czy jesteś pewien, że chcesz usunąć bilet?' }, :class => 'text-info' %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    
    <p class="navbar-text mb-0">
      <button type="button" class="btn btn-info"><%= link_to 'Nowy bilet', new_ticket_path, :class => 'text-decoration-none text-dark' %></button>
    </p>
    
  </div>
</section>