<!DOCTYPE html>
<html>
  <head>
    <title>Bilety</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
 
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </head>

  <body class="bg-dark text-info">

    <div class="d-flex flex-column">
      
      <nav id="my_navbar" class="navbar navbar-expand-md fixed-top p-2 navbar-dark bg-dark">
      
        <button type="button" class="navbar-toggler navbar-toggler-right ml-auto" data-toggle="collapse" data-target="#navbarNav">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
          <ul class="navbar-nav" id="navScrollspy2">
            <li class="nav-item font-weight-bold">
              <%= link_to 'Strona główna', 'index.html', :class => 'nav-link text-decoration-none text-info' %>
            </li>
            <li class="nav-item font-weight-bold">
              <%= link_to 'Bilety', tickets_path, :class => 'nav-link text-decoration-none text-info' %>
            </li>

            <li class="nav-item font-weight-bold">
              <%= link_to 'Imprezy', events_path, :class => 'nav-link text-decoration-none text-info' %>
            </li>
          </ul>

          <ul class="navbar-nav" id="navScrollspy">           
            

            <% if user_signed_in? %>
              <li class="nav-item ">
                <span class="nav-link text-info">Zalogowano jako <strong><%= current_user.email %></strong>.</span>
              </li>

              <li class="nav-item ">
                <%= link_to 'Edytuj konto', edit_user_registration_path, :class => 'nav-link text-decoration-none text-info' %>
              </li>

              <li class="nav-item ">
                <%= link_to "Wyloguj się", destroy_user_session_path, method: :delete, :class => 'nav-link text-decoration-none text-info' %>
              </li>
            <% else %>
              <li class="nav-item ">
                <%= link_to "Zarejestruj się", new_user_registration_path, :class => 'nav-link text-decoration-none text-info' %>
              </li>

              <li class="nav-item ">
                <%= link_to "Zaloguj się", new_user_session_path, :class => 'nav-link text-decoration-none text-info' %>
              </li>
            <% end %>
          </ul>
        </div>
      
      </nav>

      <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
      <% end %>

      <%= yield %>

      <footer>
        <div class="text-center p-4 text-info">
          © 2021 Copyright: MK. Wszystkie prawa zastrzeżone.
        </div>   
      </footer>

    </div>


   
  </body>
</html>
