<!DOCTYPE html>
<html>
  <head>
    <title>Bilety</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

  <body class="bg-dark">

    <div class="d-flex flex-column">
      
      <nav id="my_navbar" class="navbar-text ms-auto p-2">
      
        <% if user_signed_in? %>
        Zalogowano jako <strong><%= current_user.email %></strong>.
        <button type="button" class="btn btn-info"><%= link_to 'Edytuj konto', edit_user_registration_path, :class => 'navbar-link text-decoration-none text-reset' %> </button> |
        <button type="button" class="btn btn-info"><%= link_to "Wyloguj się", destroy_user_session_path, method: :delete, :class => 'navbar-link text-decoration-none text-reset' %> </button>
        <% else %>
        <button type="button" class="btn btn-info"><%= link_to "Zarejestruj się", new_user_registration_path, :class => 'navbar-link text-decoration-none text-reset' %> </button> |
        <button type="button" class="btn btn-info"><%= link_to "Zaloguj się", new_user_session_path, :class => 'navbar-link text-decoration-none text-reset' %> </button>
        <% end %>
      
      </nav>

      <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
      <% end %>

      <%= yield %>

      <footer>
        <div class="text-center p-4 text-info">
          © 2021 Copyright: MK. Wszystkie prawa zastrzeżone.
        </div>   
      </footer>

    </div>

   
  </body>
</html>
